.todo_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    background-color: lightblue;
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 10px;
}

.todo_item__completed {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgray;
    border: 1px solid gray;
    text-decoration: line-through;
    width: 350px;
    box-sizing: border-box;
    padding: 10px;
}