.todo_list {
    width: 350px;
}

.todo__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    border: 1px solid gray;
}

.todo__filters__additional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}